/* text area */
.ui-inputfield {
	font-size: small;
	font-family: gisha;
	box-shadow: none;
	height: 11px;
	border-radius: 10px;
	border: none;
	padding-left: 7px;
}
.td {
	font-family: gisha;

}
/* quando faccio refresh cambia carattere */
.ui-corner-all{
	border-radius: 10px;
	font-size: small;
	font-family: gisha;
	padding-left: 7px;
}

.ui-widget {
	font-size: small;
	font-family: gisha;
	padding-left: 7px;
}

/* prove per togliere ombra interna quando seleziono campo */
.ui-state-hover {
	border: none;
	box-shadow: none;
	-webkit-box-shadow: inset 0px 0px 0px 0px #dddddd;
	-moz-box-shadow: inset 0px 0px 0px 0px #dddddd;
    box-shadow: inset 0px 0px 0px 0px transparent;
}

.ui-state-default{
	border: none;
	box-shadow: none;
	-webkit-box-shadow: inset 0px 0px 0px 0px #dddddd;
	-moz-box-shadow: inset 0px 0px 0px 0px #dddddd;
	box-shadow: inset 0px 0px 0px 0px transparent;	
}
	
.ui-state-active{
	color: yellow;
	background-color: yellow;
	background-position-x: initial;
    background-position-y: initial;
}

.ui-widget {
	border: none;
	box-shadow: none;
	-webkit-box-shadow: inset 0px 0px 0px 0px #dddddd;
	-moz-box-shadow: inset 0px 0px 0px 0px #dddddd;
	box-shadow: inset 0px 0px 0px 0px transparent;
}

/* contorno cella selezionata */
/* .ui-datepicker-days-cell-over { */
/* 	color: yellow; */
/* 	background-color: yellow; */
/* 	font-size: small; */
/* 	font-family: gisha; */
/* } */

/* .ui-datepicker-header { */
/* 	color: yellow; */
/* 	background-color: yellow; */
/* 	font-size: small; */
/* 	font-family: gisha; */
/* } */

/* sfondo celle giorni vuote */
.ui-datepicker-other-month {
	color: #808000;
/* background-color: #00ff00; */
	font-size: small;
	font-family: gisha;
}

.ui-datepicker-table {
	color: #ff0000;
	background-color: #408080;
	font-size: small;
	font-family: gisha;
}

/* cella data corrente */
.ui-datepicker-current-day {
	color: #ff0000;
/* 	background-color: #408080; */
	font-size: small;
	font-family: gisha;
}
/* cella data scelta */
.ui-datepicker-days-cell-over {
	color: #ff0000;
/* 	background-color: #800000; */
	font-size: small;
	font-family: gisha;
}


/* sfondo singola cella */
.ui-datepicker td {
/* color: #414042; */
/* background-color: white; */
font-size: small;
font-family: gisha;
}

/* sfondo mese anno header (intorno) */
.ui-datepicker-title {
/* color: red; */
/* background-color: red; */
font-size: small;
font-family: gisha;
}

/* giorni settimana e sfondo*/
.ui-datepicker {
color: #EF4323;
background-color: white;
font-size: small;
font-weight: 200;
text-shadow: 0.5px 0.5px 0.5px #414042;
font-family: gisha;
}
.ui-datepicker-week-end {
color: #EF4323;
font-size: small;
font-weight: lighter;
text-shadow: 0.5px 0.5px 0.5px #414042;
font-family: gisha;
}

/* scelta mese anno */
.ui-datepicker-month {
color: #414042;
font-size: small;
font-family: gisha;
}