html, body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: gisha; 
}

.pannello {
	background-color: rgba(204, 204, 204, 0.54); 
	padding-top: 10px;
	padding-bottom: 10px; 
	margin: 0 auto;
	margin-bottom: 10px!important;
	color: white;
}

/* per font header del panelgrid */
.pannello th{
	font-weight: normal!important;
}

.pannello thead{
	font-size: large!important;
/* 	font-weight: normal!important; */
/* 	text-decoration: none; */
	border:none;
	border-radius: 0px!important;
	background:none!important;
	color: #EF4323;
	text-shadow: 2px 2px 3px #212020;
	padding:0!important;
	cursor: pointer;
	text-align: left;
}

.pannello tfoot{
	text-align: right;

}

/* footer di panelgrid */
.pannello tfoot input{
	font-size: large;
	font-weight: normal;
	text-decoration: none;
	border-radius: 0px!important;
	background:none!important;
    border:none; 
    padding:0!important;
    cursor: pointer;
    color: white;
    text-shadow: 2px 2px 3px #212020;
}

.pannello table{
	width: 100%;
}


/* colonne tabelle a 3   */

.right{
	text-align: right;
	color: #EF4323;
	margin-right: 0px;
	width: 33%;
	text-shadow: 0.5px 0.5px 0.5px #414042;
/* 	border: 1px; */
	margin-bottom: 0px!important;
}

.left{
	text-align: left;
	color: white;
	width: 33%;
/* 	border: 1px solid black; */
/* 	text-shadow: 0.5px 0.5px 0.5px #414042; */
}

.centercol{
	text-align: left;
	color: white;
	width: 33%;
	text-shadow: 0.5px 0.5px 0.5px #414042;
/* 	border: 1px; */
	/* 	margin-top: 0px; */
}

/* colonne tabelle a 2 login   */

.loginright{
	text-align: right;
	color: #EF4323;
	margin-right: 0px;
	width: 35%;
	text-shadow: 0.5px 0.5px 0.5px #414042;
	margin-bottom: 0px!important;
}

.loginleft{
	text-align: left;
	color: white;
	width: 65%;

}

/* colonne tabelle a 2 standard  */

.2right{
/* 	padding-top: 0px; */
/* 	position: absolute; */
	top: 0px;
	width: 50%!important;
	margin-top: 0%;
}

.2left{

/* 	position: absolute; */
/* 	top: 0px; */
	margin-top: 0%;
	width: 50%!important;
	margin-top: 0%;
}

/* colonne tabelle a 2 profilo   */

.rightprofilo{
	text-align: right;
	color: #EF4323;
	margin-right: 0px;
	width: 15%!important;
	text-shadow: 0.5px 0.5px 0.5px #414042;
/* 	border: 1px; */
	margin-top: 0px!important;
}

.leftprofilo{
	text-align: left;
	color: white;
	width: 35%!important;
	text-shadow: 0.5px 0.5px 0.5px #414042;
	margin-top: 0px!important;
/* 	border: 1px; */
}



table.center{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;
}

.textarea {
	width: 300px;
	white-space: normal;
}

/* 2 colonne per multicheckbox */
.selection tr {
    float: left;
    width: 50%;
    line-height: 0.5;
} 

input {
		border-radius: 10px;
		border: 1px solid transparent;
		color: #414042;
		padding-left: 7px;
		
}

textarea {
		border-radius: 10px;
		border: 1px solid transparent;
		color: #414042;
		padding-left: 7px;
		width: 180px;
}

select {  
		overflow: hidden;
		padding-left: 7px;
		border-radius: 10px;
		border: 1px solid transparent;
		color: #414042; 
     }
	

.invalid-input {
    border: 1px solid #EF4323;;
}
.valid-input {
    background-color: white;
}

/* menu arancio ELIMINA*/
.menubuttonorange{
	font-size: 13px;
	font-weight: normal;
	background:none!important;
    text-align: right;
	color: #EF4323;
	margin-right: 0px;
	text-shadow: 0.5px 0.5px 0.5px #414042;
    border:none; 
    padding:0!important;
    cursor: pointer;
    border-radius: 0px!important;
	vertical-align: middle;
}
/* menu bianco MODIFICA*/
.menubuttonwhite{
	font-size: large;
	font-weight: normal;
	background:none!important;
    text-align: right;
	color: white;
	margin-right: 0px;
	text-shadow: 0.5px 0.5px 0.5px #414042;
    border:none; 
    padding:0!important;
    cursor: pointer;
    border-radius: 0px!important;
	vertical-align: middle;
}
/* .inputInvalid { */
/*    border: 2px solid red; */
/* } */
/* .error { */
/* 	list-style-type: none!important; */
/* 	list-style-image: none!important; */
/* } */
