.ui-datatable {
background: transparent!important;
border: 0px!important;
/* font-size: x-small; */
font-family: gisha!important;
}

.ui-datatable-tablewrapper {
 background: transparent!important;	
 border: 0px!important;
	overflow-x: hidden !important;
}

/* celle datatable */
.ui-datatable-data {
 background: transparent!important;	
 border: 0px!important;
/*  color: white; */
/*  text-shadow: 0.5px 0.5px 0.5px #414042; */
/*  font-size: small; */
}

/* riga  */
 .ui-datatable-even {
 background: none!important;
 border: 0px!important;
 }
 
/*  controlla anche sfondo di overlaypanel */
 .ui-widget-content{
/*  background: none!important; */
 border: 0px!important;
 }
 
/*  paginator */
  .ui-paginator {
  background: none!important;
 border: 0px!important;
 }
  .ui-paginator-top {
  background: none!important;
 border: 0px!important;
 }
  .ui-widget-header {
  background: none!important;
 border: 0px!important;
 }
 
  .ui-state-default {
  background: none!important;
 border: 0px!important;
 }

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td, .ui-datatable tfoot th {
	border: none!important;
	padding-bottom: 2px;
	padding-top: 2px;
}
.ui-datatable table {
/* 	border: none!important; */
	border-bottom-color: white;
	border-left-color: white;
	border-right-color: white;
	border-top-color: white;
}

.ui-bottone {
	background-color: rgb(221, 221, 221)!important;
	border-top-left-radius: 10px!important;
    border-top-right-radius: 10px!important;
    border-bottom-right-radius: 10px!important;
    border-bottom-left-radius: 10px!important;

}
.ui-button-text.ui-c {
	color: rgb(65, 64, 66)!important;
    padding-left: 8px!important;
    padding-right: 7px!important;
    padding-bottom: 2px!important;
    padding-top: 2px!important;
}
/* sforndo riga alternata */
.ui-datatable-odd {
	background-color: rgb(120, 120, 120)!important;
}
