.colonnina {
	text-align: right;
	color: #EF4323;
	margin-right: 3px;
	width: 10%;
	text-shadow: 0.5px 0.5px 0.5px #414042;
/* 	margin-bottom: 0px!important; */
	font-size: 12px;
}

.post {
	text-align: left;
	color: white;
	margin-left: 8px;
	width: 90%;
/* 	text-shadow: 0.5px 0.5px 0.5px #414042; */
	margin-bottom: 0px!important;
	font-size: 10px;
}

.overlaypanel {
	width: 600px!important;
	border: 1 px;
	border-color: #414042;
	background-color: rgba(204, 204, 204, 0.9)!important; 
/* 	background-color: #ff8000!important; */
}


/* thead overlaypanel risposta secondaria */
.outputpanel th{
	border: none!important;
	border-width: 0px!important;
	text-align: left!important;
}

.ui.overlaypanel-content {
	background-color: rgba(204, 204, 204)!important; 
}