.homepage {
/* 	width: 1200px; */
/* 	height: 1200px; */
	display: inline-block;	
	padding: 0px;
}
.homepage td{
	padding: 0px;
}

/* colonne pagina homepage */
.classifiche {
	width: 180px;
	height: 550px;
	margin-top: 30px;
	margin-left:5px;
	margin-bottom:10px!important;
	margin-right:0px!important;
	display: inline-block;	
	padding: 0px;
}

.annunci {
	width: 180px;
	height: 550px;
	margin-top: 30px;
	margin-left:5px;
	margin-bottom:10px!important;
	margin-right:0px!important;
	display: inline-block;
	padding: 0px;	
}

.colonnaiscrittifoto td{
	padding: 0px;
}

.ultimiiscritti {
	border:none!important;
	width: 350px;
	height: 271px;
	margin-top: 30px;
	margin-left:3px;
	margin-bottom:0px!important;
	margin-right:0px!important;
	display: inline-block;	
	padding: 0px;
}

.ultimefoto {
	border:none!important;
	width: 350px;
	height: 271px;
	margin-top: 2px;
	margin-left:3px;
	margin-bottom:10px!important;
	margin-right:0px!important;
	display: inline-block;	
	padding: 0px;
}

.banner {
	width: 150px;
	height: 520px;
	margin-top: 30px;
	margin-left:17px;	
	margin-bottom:0px!important;
	margin-right:0px!important;
	display: inline-block;
	padding: 0px;
}